:root {
  /* colours */
  --smoky-black: #0D0106;
  --amaranth-purple: #A5265B;
  --pale-violet-red: #D36593;
  --winter-sky: #FF1E7C;
  --snow: #FFF9FC;
}

body {
  background-color: var(--smoky-black);
  color: var(--snow);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: var(--pale-violet-red);
}

h6 {
  color: red;
  margin-left: 2em;
  margin-bottom: 1em;
}

a {
  color: var(--amaranth-purple);
  text-decoration: none;
}
